/*** Features ***/
#feature-1,
#feature-2,
#feature-3,
#feature-4,
#feature-5 {
	padding: 50px 0;
}

#feature-1,
#feature-2 {
	img {
		margin-top: 20px;
		width: 150px;
	}
}

#feature-3 {
	overflow-y: hidden;
	.content-left {
		img {
			width: 200px;
		}
	}
}

#feature-4 {
	background-color: $secondary;
	color: $white;
	p {
		opacity: 0.7;
	}
	.content-left {
		img {
			width: 250px;
		}
	}
	#btn-info {
		display: block;
		margin: 2em auto;
		&:hover {
			background-color: $primary;
			color: $white;
		}
	}
}

#feature-5 {
	background-image: url('../img/Background_foot.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: $white;
	overflow-y: hidden;
	color: $white;
	height: 50vh;
	.content-wrap {
		p {
			font-size: 16px;
			text-align: center;
			opacity: 0.8;
		}
		#btn-download {
			background-color: $white;
			color: $primary;
			width: 80%;
			margin: 0 auto;
			margin-top: 40px;
			padding: .8em 0;
			transition: 0.2s;
			cursor: pointer;
			&:hover {
				background-color: $primary;
				color: $white;
			}
		}
	}
}
